<!-- map.html -->
{% extends 'base.html' %}

{% block title %}Map{% endblock %}

{% block content %}
    <h2>User Location Map</h2>
    <div id="map" style="height: 400px;"></div>
    <button onclick="updateLocation()">Update Location</button>
    <script>
        var map = L.map('map').setView([{{ location.y|default:0 }}, {{ location.x|default:0 }}], 13);
    
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    
        {% if location %}
            L.marker([{{ location.y }}, {{ location.x }}]).addTo(map)
                .bindPopup('<b>{{ user.username }}</b><br />')
                .openPopup();
        {% endif %}
    
        var marker;
        var circle;

        function updateMap(latitude, longitude, accuracy) {
            if (marker) {
                map.removeLayer(marker);
            }
            if (circle) {
                map.removeLayer(circle);
            }

            marker = L.marker([latitude, longitude]).addTo(map); 
            circle = L.circle([latitude, longitude], accuracy).addTo(map);
        }

        function updateLocation() {
            navigator.geolocation.getCurrentPosition(
                function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    var accuracy = position.coords.accuracy; 
                    updateMap(latitude, longitude, accuracy);

                    // Send location to Django view
                    fetch('{% url "update_location" %}', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                        body: 'latitude=' + latitude + '&longitude=' + longitude
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            console.log('Location updated successfully');
                        } else {
                            console.error('Error updating location');
                        }
                    });
                },
                function(error) {
                    console.error('Error getting location:', error);
                }
            );
        }
    </script>
{% endblock %}
